*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/resort.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#form{
    background-color:black;
    height:515px;
    width:800px;
    margin: auto;
    margin-top: 100px;
    opacity:0.8;
}
#first-group{
    border:none;
    width:400px;
    margin-top: 38px;
    position: absolute;
}
#content{
    border: 1px solid #fff;
    margin:10px;
    margin-left: 8px;
    padding:5px;
}
#content #input-group{
    border:none;
    outline:none;
    background: black;
    margin-left:8px;
    width:300px;
    color:#fff;
}
::placeholder{
    color:#fff;
}
.fa{
    display:inline-block;
    color:red;
    border-right:1px solid #fff;
    padding:8px;
    margin-left: 8px;
}
#second-group{
    border:none;
    width:400px;
    margin-top: 55px;
    margin-left:400px;
}
#submit-btn{
    background: transparent;
    color:#fff;
    width:150px;
    border:1px solid red;
    outline:none;
    padding:10px;
    font-size: 20px;
    margin-right: 30px;
    border-radius: 50px;
    transition: all 0.5s;
    transform: scale(1);
}

#content .title-price{
    font-size: 15px;
    color: #fff;
}
#content #show-price{
    font-size: 15px;
    color: #fff;
}
.row-btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
}
.row-btn a{
    color: #fff;
    font-size: 20px;
    position: absolute;
    left: 30px;
    width: 150px;
    border: 1px solid red;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    transition: all 0.5s;
    transform: scale(1);
}
:root{
    --color1: #fbbc01;
    --coler2: #191F3A;
    --bg--color: #0C1023;
}
#submit-btn:hover,
.row-btn a:hover{
    text-decoration: none;
    color: black;
    background-color: var(--color1);
    transform: scale(1.1);
}
